.menu {
    width: 65%;
    margin: auto;
}

.tabs {
    -webkit-user-select: none;
    width: 60vw;
    margin: auto;
    display: table;
    padding-left: 0;
    text-align: center;
}

.list-item {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(250,162,27);
    display: table-cell;
    vertical-align: middle;
    height: 3em;
    -webkit-user-select: none;
}

.active-tab {
    -webkit-user-select: none;
    background: #b7740e;
    color: rgb(255, 255, 255);
}

.content {
    width: 60vw;
    margin: auto;
    text-align: center;
}
