.card-display {
    border: solid lightslategray;
    padding: auto;
    padding: 5vw 8vw 5vw 8vw;
    margin-left: 4vw;
    margin-right: 4vw;
    background: rgb(245,245,245);
}

.graphic {
    max-width: 22vw;
    width: auto;
}
