.card-display {
    border: solid lightslategray;
    padding: auto;
    padding: 20px 30px 20px 30px;
    margin-left: 70px;
    margin-right: 70px;
    background: rgb(245,245,245);
}

.graphic {
    max-width: 25%;
    width: auto;
    display: block;
    margin: auto;
}
