.dd-wrapper{

    font-size: 10px;

}

.dd-header{

    border: solid #454545 1px;
}

.dd-item{

}

.dd-list{
    padding: 2em,3em,2em,4em;
}

.menu{
    display: flex;
    flex-direction: column;
    
    
}