.dd-wrapper {
    min-width: 250px;
    margin: 20px 5% 20px 5%;
    color: rgb(0,0,0);
    cursor: pointer;
}

.dd-header {
    border: solid #454545 1px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 1em;
    color: rgb(255,255,255);
    background: rgb(250,162,27);
    -webkit-user-select: none;
}

.dd-list {
    list-style: none;
    padding: 0;
    border: solid #555555;
    background: rgb(255,255,255);
    -webkit-user-select: none;
}

.dd-list-item {
    position: relative;
    font-size: 18px;
    padding: 0.5em;
    max-height: 33%;
}

.dd-list-item:hover {
    background-color: #CCCCCC;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.check {
    position: absolute;
    right: 2px;
}

@media only screen and (max-width: 1100px) {
    .dd-wrapper {
        min-width:150px;
    }
}

@media only screen and (max-width: 650px) {
    #menu {
        flex-flow: column;
        align-items: center;
        margin-top: 4px;
    }

    .dd-wrapper {
        margin: 2px;
        width: 70%;
    }

    .dd-header {
        padding: 1px;
    }

    .dd-list-item {
        font-size:12px;
        padding:0.2em;
        text-align: center;
    }

    .dd-list {
        margin: 0;
    }
}
